h1 {
text-align: center;
font-size: 36px;
color: black;
color: #000000
}

body{
    background-image: linear-gradient(black, blue);
}
.card {
    background-color: #2e1a47;
    color: #a8d0ff;
    border: none;
    box-shadow: 0 0 10px rgba(168, 208, 255, 0.3);
}
.card-title {
    color: #cbb3ff;
}
.montserrat-p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #a8d0ff;
}
h2 {
    text-align: center;
    font-size: 20px;
    color: grey;
    font-family: "Montserrat", sans-serif;
 font-optical-sizing: auto;
  font-style: normal;
}
body {
text-align: center
font-family: "Montserrat", sans-serif;
 font-optical-sizing: auto;
  font-style: normal;
}

